<!DOCTYPE html>
<html>
  <head>
    <title>
      {% if page.title%}{{page.title}} - {%endif%}{{site.name}} -
      {{site.desciption}}
    </title>
    {%include meta.html}
  </head>
  <body></body>
</html>

<link
  rel="apple-touch-icon"
  sizes="180x180"
  href="{{site.baseurl/assets/logo.ico/apple-touch-icon.png}}"
/>
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
<link rel="manifest" href="/site.webmanifest" />
<meta name="msapplication-TileColor" content="#da532c" />
<meta name="theme-color" content="#ffffff" />
